.centered {
    text-align: center;
}

.blobs {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.blobs > * {
    position: absolute;
}

.blobs > button > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blobs > button > img:hover {
    transform: scale(1.3);
    transition: var(--deafult-transition);
}

.blobs > button > img:active {
    border: 2px solid var(--text-color);
    transition: var(--deafult-transition);
}

.blobHTFU {
    left: 10vw;
    top: 50vh;
    width: 30vw;
}
.blobWakepark {
    left: 35vw;
    top: 10vh;
    width: 28vw;
}

.blobFood {
    left: 70vw;
    top: 50vh;
    width: 25vw;
}
